{% extends "/templates/base.html" %}

{% block style_block %}
    <style type="text/css">
        /*table.table { width: 60%; }*/
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-6">
                <div>
                    <h1 id="">Музыка - {{collective_name}}</h1>
                </div>
                <table class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th class="text-center">Название</th>
                        <th class="text-center">Скачать</th>
                        <th class="text-center">Размер</th>
                        <th class="text-center">Загружен</th>
                        <th class="text-center">&nbsp;</th>


                    </tr>
                </thead>
                <tbody>
                    {% for file in blobs %}
                    {% set url = "/" + (file.key().id() | string) + "/" + file.blob.filename %}

                    <tr>
                        <td  class="song" onclick="play('{{ url }}')"><a >{{ file.blob.filename}}</a></td>
                        <td class="text-center"><a href="{{ url }}" download><span class="glyphicon glyphicon-download-alt text-center" aria-hidden="true"></span></a></td>
                        <td class="text-center">{{ ((((((file.blob.size)|float)) / 1024 / 1024)|round(3)) |string) + ' Mb'}}</td>
                        <td class="text-center"><span class=" date">{{ file.blob.creation }}</span></td>
                        <td class="text-center">
                            {% if user==collective %}
                                <a href="/delete/{{file.key().id()}}/{{collective}}" class="btn btn-danger btn-sm">Удалить</a>
                            {% endif %}
                            {% if collective=="common" %}
                                <a href="/delete/{{file.key().id()}}/{{collective}}" class="btn btn-danger btn-sm">Удалить</a>
                            {% endif %}

                        </td>


                    </tr>
                    {% else %}
                        <tr><td colspan="7">Пока нет музыки</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-6">
                <div><br></div>
                <div id="fileuploader">Upload</div>
            </div>

        </div>
</div>






{% endblock content %}


{% block footer %}

	<!-- Задний прозрачный фон-->
		<div onclick="stopPlay()" id="wrap"></div>

					<!-- Само окно-->
			<div id="window">
						 <!-- Картинка крестика-->
				<div class="close button" onclick="stopPlay()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:antiquewhite"></span>
                </div>

						<!-- Music -->
                <iframe src="" style="zoom:0.60" width="99.6%" height="100" frameborder="0"></iframe>

			</div>





<!--<hr>-->
    <!--<div class="bs-component">-->
    <!--<form action="{{upload_url}}" method="POST" enctype="multipart/form-data" class="bs-component">-->
        <!--<div class="form-group">-->
            <!--<label for="file_input" class="control-label">Добавить:</label>-->
<!--{#            <div class="file-upload" data-text="Выберите файл">#}-->
<!--{#              <input type="file">#}-->
<!--{#            </div>#}-->

            <!--<input type="file" name="file" class="form-control" id="file_input"><br>-->
            <!--<input type="hidden" name="collective" value="{{collective}}">-->
            <!--<button type="submit" name="submit" class="btn btn-primary">Отправить</button>-->
        <!--</div>-->

	<!--</form>-->

   <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-info" style="width: 10%"></div>-->
   <!--</div>-->

    <!--</div>-->

{% endblock footer %}


{% block tail_script %}
    <script>
        $(document).ready(function()
        {
            $("#fileuploader").uploadFile({
            url:"{{upload_url}}",
            multiple:false,
            dragDrop:false,
            maxFileCount:1,
            fileName:"myfile",
            formData: { collective: '{{collective}}' }
            });
        });


    function play(url) {
        console.log('play');
//        event.defaultPrevented;
//        event.preventDefault();
        $('iframe').attr("src",url);
        document.getElementById('window').style.display = 'block';
        document.getElementById('wrap').style.display = 'block';

    }

    function stopPlay() {
        $('iframe').attr("src", '');
        document.getElementById('window').style.display = 'none';
        document.getElementById('wrap').style.display = 'none';
    }

    function removeTime() {
//       var frameSrc = url;
//       $('iframe').attr("src",frameSrc);
//       document.getElementById('window').style.display = 'block';
//       document.getElementById('wrap').style.display = 'block';
    }

    var dates = document.getElementsByClassName("date");
    for (var i = 0; i < dates.length; i++) {
        var date = $(dates[i]).html();
        date = date.split('.')[0];
        $(dates[i]).html(date);
    }






//        var FormHelpers = {
//            validate: function (form, evt) {
//                // Form validation for modal dialog
//                var example_name = form.find('#example_name').val();
//                var example_description = form.find('#example_description').val();
//                if (!(example_name)) {
//                    evt.preventDefault();
//                    Utils.renderFieldErrorTooltip('#example_name', 'Name is required', 'right');
//                }
//                if (!(example_description)) {
//                    evt.preventDefault();
//                    Utils.renderFieldErrorTooltip('#example_description', 'Description is required', 'right');
//                }
//            },
//            init: function () {
//                var self = this;
//                var example_form = $('#new-example-form');
//                example_form.on('submit', function (evt) {
//                    self.validate(example_form, evt)
//                });
//            }
//        };
//        $(document).ready(function() {
//            FormHelpers.init();
//        });
    </script>
{% endblock tail_script %}
