{% extends "/templates/base.html" %}

{% block content %}

    <h1>Войти</h1>

    {% if failed %}

        <strong>Что-то не так!</strong> Проверьте пароль и попробуйте еще раз!

    {% endif %}

    <form class="bs-component" action= "/login" method="POST">
    <div class="form-group">
         <label for="username">Имя пользователя</label>
        <input type="text" value="{{ username }}" name="username" class="form-control"/>
        <label for="password">Пароль</label>
        <input type="password" name="password" class="form-control"/><br>
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
    </form>

{#    <a href="/forgot">Forgot password</a>#}


{% endblock %}