{% extends "/templates/base.html" %}

{% block content %}

    <!--<h1>Войти</h1>-->

    {% if failed %}

        <strong>Что-то не так!</strong> Проверьте пароль и попробуйте еще раз!

    {% endif %}

    <!--<form class="bs-component" action= "/login" method="POST">-->
    <!--<div class="form-group">-->
         <!--<label for="username">Имя пользователя</label>-->
        <!--<input type="text" value="{{ username }}" name="username" class="form-control"/>-->
        <!--<label for="password">Пароль</label>-->
        <!--<input type="password" name="password" class="form-control"/><br>-->
        <!--<button type="submit" class="btn btn-primary">Войти</button>-->
    <!--</div>-->
    <!--</form>-->

    <div class="container">
            <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Вход пользователя<small></small></h3>
                    </div>
                    <div class="panel-body">
                        <form action= "/login" method="POST">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" class="form-control input-sm" placeholder="Имя пользователя">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Войти" class="btn btn-info btn-block">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{#    <a href="/forgot">Forgot password</a>#}


{% endblock %}