{% extends "/templates/base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="header">Музыкальная страница клуба "Ахтме"</h1>
    <div>&nbsp;</div>
    <h2 id="welcome">Выберите коллектив</h2>

    <ul class="list-unstyled">
      <li><a href="/collective/antares"><h3>Антарес</h3></a></li>
      <li><a href="/collective/arlekin"><h3>Арлекин</h3></a></li>
      <li><a href="/collective/step"><h3>Степ</h3></a></li>
      <li><a href="/collective/viva"><h3>VivaDance</h3></a></li>
      <li><a href="/collective/smirnov"><h3>Смирнов</h3></a></li>
      <li><a href="/collective/oxana"><h3>Оксана</h3></a></li>
      <li><a href="/collective/jelena"><h3>Елена</h3></a></li>
      <li><a href="/collective/irena"><h3>Ирена</h3></a></li>
      <li><a href="/collective/common"><h3>Общая музыка</h3></a></li>
    </ul>

    <!--<table class="table table-bordered table-striped">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th>Название</th>-->
                <!--<th>Размер</th>-->
                <!--<th>Загружен</th>-->
                <!--<th>Владелец</th>-->


            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--{% for file in blobs %}-->
		    <!--{% set url = "/" + (file.key().id() | string) + "/" + file.blob.filename %}-->

            <!--<tr>-->
                <!--<td><a href="{{ url }}">{{ file.blob.filename}}</a></td>-->
                <!--<td>{{ ((((((file.blob.size)|float)) / 1024 / 1024)|round(3)) |string) + ' Mb'}}</td>-->
                <!--<td>{{ file.blob.creation }}</td>-->

                <!--&lt;!&ndash;<td class="nowrap"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="submit" class="btn-danger">Delete</button></td>&ndash;&gt;-->
                <!--<td>-->
                    <!--{{ file.user}}-->

                <!--</td>-->

            <!--</tr>-->
            <!--{% else %}-->
            <!--<tr><td colspan="7">Пока нет музыки</td></tr>-->
            <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->





{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block tail_script %}

{% endblock tail_script %}
