<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Ahtme klubi music</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">

        <li class="divider-vertical"></li>
      <li><a href="/collective/antares">Антарес</a></li>
      <li><a href="/collective/arlekin">Арлекин</a></li>
      <li><a href="/collective/step">Степ</a></li>
      <li><a href="/collective/viva">VivaDance</a></li>
      <li><a href="/collective/smirnov">Смирнов</a></li>
        <li class="divider-vertical"></li>
      <li><a href="/collective/oxana">Оксана</a></li>
      <li><a href="/collective/jelena">Елена</a></li>
      <li><a href="/collective/irena">Ирена</a></li>

      <li class="divider-vertical"></li>
      <li><a href="/collective/common">Общая музыка</a></li>


    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="divider-vertical"></li>
        <!--<li><a href="/login">{{user}}</a></li>-->

        {% if not user %}
            <li><a href="/login">Войти</a></li>
        {% endif %}

        {% if user %}
            <li><a href="/logout">Выйти</a></li>
        {% endif %}
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>